n8n-workflows/inspection-api-postgres.json
{
  "name": "Cleaning Inspection API (Postgres)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inspection-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst action = body.action || 'submit';\nconst data = body.data || body;\nconst id = body.id || data.id || '';\nreturn [{ json: { action, id, data, body } }];"
      },
      "id": "c1000001-0000-0000-0000-000000000002",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-submit",
              "leftValue": "={{ $json.action }}",
              "rightValue": "submit",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1000001-0000-0000-0000-000000000003",
      "name": "Is Submit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS cleaning_inspections (\n  id TEXT PRIMARY KEY,\n  property_id TEXT,\n  status TEXT,\n  data JSONB NOT NULL,\n  submitted_at TIMESTAMPTZ,\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nINSERT INTO cleaning_inspections (id, property_id, status, data, submitted_at, updated_at)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.data.propertyId }}',\n  '{{ $json.data.status }}',\n  '{{ JSON.stringify($json.data).replaceAll(\"'\", \"''\") }}'::jsonb,\n  '{{ $json.data.submittedAt || new Date().toISOString() }}'::timestamptz,\n  NOW()\n)\nON CONFLICT (id) DO UPDATE SET\n  data = EXCLUDED.data,\n  status = EXCLUDED.status,\n  updated_at = NOW()\nRETURNING id;",
        "options": {}
      },
      "id": "c1000001-0000-0000-0000-000000000010",
      "name": "PG Submit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'submit', id: $('Parse').first().json.id, storedAt: new Date().toISOString() }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "c1000001-0000-0000-0000-000000000011",
      "name": "OK Submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-load",
              "leftValue": "={{ $json.action }}",
              "rightValue": "load",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1000001-0000-0000-0000-000000000004",
      "name": "Is Load?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [920, 520]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT data FROM cleaning_inspections WHERE id = '{{ $('Parse').first().json.id }}' LIMIT 1;",
        "options": {}
      },
      "id": "c1000001-0000-0000-0000-000000000020",
      "name": "PG Load",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 440]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (!rows.length || !rows[0].json.data) {\n  return [{ json: { success: false, error: 'Inspection not found', id: $('Parse').first().json.id } }];\n}\nconst d = rows[0].json.data;\nconst parsed = typeof d === 'string' ? JSON.parse(d) : d;\nreturn [{ json: { success: true, action: 'load', data: parsed } }];"
      },
      "id": "c1000001-0000-0000-0000-000000000021",
      "name": "Format Load",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": "={{ $json.success ? 200 : 404 }}" }
      },
      "id": "c1000001-0000-0000-0000-000000000022",
      "name": "OK Load",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-list",
              "leftValue": "={{ $json.action }}",
              "rightValue": "list",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1000001-0000-0000-0000-000000000005",
      "name": "Is List?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1140, 640]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS cleaning_inspections (\n  id TEXT PRIMARY KEY,\n  property_id TEXT,\n  status TEXT,\n  data JSONB NOT NULL,\n  submitted_at TIMESTAMPTZ,\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ DEFAULT NOW()\n);\nSELECT id, property_id, status, submitted_at FROM cleaning_inspections ORDER BY updated_at DESC LIMIT 50;",
        "options": {}
      },
      "id": "c1000001-0000-0000-0000-000000000030",
      "name": "PG List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 580]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nreturn [{ json: { success: true, action: 'list', total: rows.length, items: rows } }];"
      },
      "id": "c1000001-0000-0000-0000-000000000031",
      "name": "Format List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "c1000001-0000-0000-0000-000000000032",
      "name": "OK List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 580]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM cleaning_inspections WHERE id = '{{ $('Parse').first().json.id }}' RETURNING id;",
        "options": {}
      },
      "id": "c1000001-0000-0000-0000-000000000040",
      "name": "PG Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 740]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'delete', id: $('Parse').first().json.id }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "c1000001-0000-0000-0000-000000000041",
      "name": "OK Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 740]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Unknown action: ' + $json.action }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "c1000001-0000-0000-0000-000000000050",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 860]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse", "type": "main", "index": 0 }]]
    },
    "Parse": {
      "main": [[{ "node": "Is Submit?", "type": "main", "index": 0 }]]
    },
    "Is Submit?": {
      "main": [
        [{ "node": "PG Submit", "type": "main", "index": 0 }],
        [{ "node": "Is Load?", "type": "main", "index": 0 }]
      ]
    },
    "PG Submit": {
      "main": [[{ "node": "OK Submit", "type": "main", "index": 0 }]]
    },
    "Is Load?": {
      "main": [
        [{ "node": "PG Load", "type": "main", "index": 0 }],
        [{ "node": "Is List?", "type": "main", "index": 0 }]
      ]
    },
    "PG Load": {
      "main": [[{ "node": "Format Load", "type": "main", "index": 0 }]]
    },
    "Format Load": {
      "main": [[{ "node": "OK Load", "type": "main", "index": 0 }]]
    },
    "Is List?": {
      "main": [
        [{ "node": "PG List", "type": "main", "index": 0 }],
        [{ "node": "PG Delete", "type": "main", "index": 0 }]
      ]
    },
    "PG List": {
      "main": [[{ "node": "Format List", "type": "main", "index": 0 }]]
    },
    "Format List": {
      "main": [[{ "node": "OK List", "type": "main", "index": 0 }]]
    },
    "PG Delete": {
      "main": [[{ "node": "OK Delete", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
