workflows/invoice-ocr-llm-webhook.json
{
  "name": "Invoice OCR - LLM Webhook (Auto Generated)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoiceOCR-llm",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "invoice-ocr-webhook",
      "name": "Webhook - Invoice OCR"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst incomingJson = input.json || {};\nconst body = (incomingJson.body && typeof incomingJson.body === 'object') ? incomingJson.body : incomingJson;\nconst binary = input.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nconst workflowId = body.workflowId || 'default-workflow';\nconst metadata = (body.metadata && typeof body.metadata === 'object') ? body.metadata : {};\nconst traceId = (typeof metadata.traceId === 'string' && metadata.traceId)\n  ? metadata.traceId\n  : (typeof body.traceId === 'string' && body.traceId)\n    ? body.traceId\n    : `trace_${Date.now()}`;\nconst executionId = `exec_${Date.now()}`;\n\nconst parsedLlmConfig =\n  body.llmConfig && typeof body.llmConfig === 'object'\n    ? body.llmConfig\n    : typeof body.llmConfig === 'string'\n      ? (() => {\n          try {\n            const parsed = JSON.parse(body.llmConfig);\n            return parsed && typeof parsed === 'object' ? parsed : {};\n          } catch (_jsonError) {\n            return {};\n          }\n        })()\n      : {};\n\nlet envEndpoint = '';\nlet envApiKey = '';\nlet envModel = '';\ntry {\n  envEndpoint = $env.INVOICE_LLM_ENDPOINT || '';\n  envApiKey = $env.INVOICE_LLM_API_KEY || '';\n  envModel = $env.INVOICE_LLM_MODEL || '';\n} catch (_envError) {\n  // Env access can be blocked in some n8n deployments.\n}\n\nconst endpoint =\n  (typeof body.llmEndpoint === 'string' && body.llmEndpoint) ||\n  (typeof parsedLlmConfig.endpoint === 'string' && parsedLlmConfig.endpoint) ||\n  envEndpoint ||\n  'https://api.openai.com/v1/chat/completions';\n\nconst apiKey =\n  (typeof body.llmApiKey === 'string' && body.llmApiKey) ||\n  (typeof parsedLlmConfig.apiKey === 'string' && parsedLlmConfig.apiKey) ||\n  envApiKey ||\n  '';\n\nconst model =\n  (typeof body.llmModel === 'string' && body.llmModel) ||\n  (typeof parsedLlmConfig.model === 'string' && parsedLlmConfig.model) ||\n  envModel ||\n  'gpt-4o-mini';\n\nconst ocrPrompt = [\n  'You are an invoice OCR extraction engine.',\n  'Return ONLY JSON with fields:',\n  '{',\n  '  \"supplier_name\": string|null,',\n  '  \"raw_merchant\": string|null,',\n  '  \"abn\": string|null,',\n  '  \"tax_invoice_flag\": boolean,',\n  '  \"invoice_number\": string|null,',\n  '  \"invoice_date\": string|null,',\n  '  \"due_date\": string|null,',\n  '  \"currency\": string|null,',\n  '  \"total\": number|null,',\n  '  \"gst_amount\": number|null,',\n  '  \"gst_status\": \"explicit_amount\"|\"included_unknown_amount\"|\"no_gst_indicated\"|\"unknown\"|\"mixed\",',\n  '  \"line_items\": Array<{description:string,quantity:number,unit_price:number,total:number}>,',\n  '  \"confidence\": {supplier_name:number,invoice_date:number,total:number,gst:number,abn:number},',\n  '  \"needs_human_review\": boolean,',\n  '  \"reasons\": string[]',\n  '}',\n  'If missing, use null and set needs_human_review=true with reason.'\n].join('\\n');\n\nconst toNumber = value => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst normalizeGstStatus = value => {\n  const allowed = [\n    'explicit_amount',\n    'included_unknown_amount',\n    'no_gst_indicated',\n    'unknown',\n    'mixed',\n  ];\n  return typeof value === 'string' && allowed.includes(value)\n    ? value\n    : 'unknown';\n};\n\nconst fallbackExtraction = (doc, reason) => ({\n  raw_merchant: doc.fileName || null,\n  supplier_name: null,\n  abn: null,\n  tax_invoice_flag: false,\n  invoice_number: null,\n  invoice_date: null,\n  due_date: null,\n  currency: 'AUD',\n  total: null,\n  gst_amount: null,\n  gst_status: 'unknown',\n  line_items: [],\n  confidence: {\n    supplier_name: 0.1,\n    invoice_date: 0.1,\n    total: 0.1,\n    gst: 0.1,\n    abn: 0.1,\n  },\n  needs_human_review: true,\n  reasons: [reason],\n});\n\nconst safeJsonParse = text => {\n  try {\n    return JSON.parse(text);\n  } catch (_err) {\n    const fenceMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n    if (fenceMatch && fenceMatch[1]) {\n      return JSON.parse(fenceMatch[1]);\n    }\n    const objMatch = text.match(/\\{[\\s\\S]*\\}/);\n    if (objMatch) {\n      return JSON.parse(objMatch[0]);\n    }\n    throw new Error('LLM output is not valid JSON');\n  }\n};\n\nconst normalizeExtraction = (parsed, doc, reasonIfEmpty = null) => {\n  const source = parsed && typeof parsed === 'object' ? parsed : {};\n  const reasons = Array.isArray(source.reasons)\n    ? source.reasons.filter(item => typeof item === 'string')\n    : [];\n  if (reasonIfEmpty && reasons.length === 0) {\n    reasons.push(reasonIfEmpty);\n  }\n\n  const lineItems = Array.isArray(source.line_items)\n    ? source.line_items\n        .filter(item => item && typeof item === 'object')\n        .map(item => ({\n          description:\n            typeof item.description === 'string' && item.description\n              ? item.description\n              : 'Line item',\n          quantity: Number.isFinite(Number(item.quantity))\n            ? Number(item.quantity)\n            : 1,\n          unit_price: Number.isFinite(Number(item.unit_price))\n            ? Number(item.unit_price)\n            : 0,\n          total: Number.isFinite(Number(item.total))\n            ? Number(item.total)\n            : (Number.isFinite(Number(item.quantity)) ? Number(item.quantity) : 1) *\n              (Number.isFinite(Number(item.unit_price))\n                ? Number(item.unit_price)\n                : 0),\n        }))\n    : [];\n\n  const confidence =\n    source.confidence && typeof source.confidence === 'object'\n      ? source.confidence\n      : {};\n\n  return {\n    raw_merchant:\n      typeof source.raw_merchant === 'string' && source.raw_merchant\n        ? source.raw_merchant\n        : doc.fileName || null,\n    supplier_name:\n      typeof source.supplier_name === 'string' && source.supplier_name\n        ? source.supplier_name\n        : null,\n    abn: typeof source.abn === 'string' && source.abn ? source.abn : null,\n    tax_invoice_flag: Boolean(source.tax_invoice_flag),\n    invoice_number:\n      typeof source.invoice_number === 'string' && source.invoice_number\n        ? source.invoice_number\n        : null,\n    invoice_date:\n      typeof source.invoice_date === 'string' && source.invoice_date\n        ? source.invoice_date\n        : null,\n    due_date:\n      typeof source.due_date === 'string' && source.due_date\n        ? source.due_date\n        : null,\n    currency:\n      typeof source.currency === 'string' && source.currency\n        ? source.currency\n        : 'AUD',\n    total: toNumber(source.total),\n    gst_amount: toNumber(source.gst_amount),\n    gst_status: normalizeGstStatus(source.gst_status),\n    line_items: lineItems,\n    confidence: {\n      supplier_name: Number.isFinite(Number(confidence.supplier_name))\n        ? Number(confidence.supplier_name)\n        : 0.5,\n      invoice_date: Number.isFinite(Number(confidence.invoice_date))\n        ? Number(confidence.invoice_date)\n        : 0.5,\n      total: Number.isFinite(Number(confidence.total))\n        ? Number(confidence.total)\n        : 0.5,\n      gst: Number.isFinite(Number(confidence.gst))\n        ? Number(confidence.gst)\n        : 0.4,\n      abn: Number.isFinite(Number(confidence.abn))\n        ? Number(confidence.abn)\n        : 0.2,\n    },\n    needs_human_review:\n      typeof source.needs_human_review === 'boolean'\n        ? source.needs_human_review\n        : reasons.length > 0,\n    reasons,\n  };\n};\n\nconst documents = binaryKeys.map((key, index) => {\n  const file = binary[key] || {};\n  return {\n    key,\n    index,\n    fileName: file.fileName || `file_${index + 1}`,\n    mimeType: file.mimeType || file.fileType || 'application/octet-stream',\n    data: file.data || '',\n  };\n});\n\nif (documents.length === 0) {\n  return [\n    {\n      json: {\n        executionId,\n        workflowId,\n        traceId,\n        hasBusinessData: false,\n        summary: {\n          totalItems: 0,\n          ocrDocuments: 0,\n          extractedRecords: 0,\n          googleSheetsRecords: 0,\n          successfulExtractions: 0,\n          failedExtractions: 0,\n          duplicateRecords: 0,\n          qualityIssues: 0,\n          successRate: '0%',\n          uniqueInvoices: 0,\n        },\n        results: [],\n        recommendations: ['No files received by webhook.'],\n      },\n    },\n  ];\n}\n\nconst callLlmForDocument = async doc => {\n  const isImage =\n    typeof doc.mimeType === 'string' && doc.mimeType.startsWith('image/');\n  if (!isImage) {\n    return fallbackExtraction(\n      doc,\n      `Unsupported MIME type for direct vision OCR: ${doc.mimeType}`\n    );\n  }\n\n  if (!apiKey) {\n    return fallbackExtraction(\n      doc,\n      'Missing LLM API key (set llmApiKey, llmConfig.apiKey, or env INVOICE_LLM_API_KEY)'\n    );\n  }\n\n  const requestBody = {\n    model,\n    temperature: 0,\n    messages: [\n      {\n        role: 'system',\n        content: 'You extract structured invoice data from images.',\n      },\n      {\n        role: 'user',\n        content: [\n          { type: 'text', text: ocrPrompt },\n          {\n            type: 'image_url',\n            image_url: { url: `data:${doc.mimeType};base64,${doc.data}` },\n          },\n        ],\n      },\n    ],\n  };\n\n  let payload;\n  try {\n    payload = await this.helpers.httpRequest({\n      method: 'POST',\n      url: endpoint,\n      headers: {\n        'Content-Type': 'application/json',\n        Authorization: `Bearer ${apiKey}`,\n      },\n      body: requestBody,\n      json: true,\n    });\n  } catch (error) {\n    const errMsg =\n      error && typeof error.message === 'string'\n        ? error.message\n        : String(error);\n    return fallbackExtraction(\n      doc,\n      `LLM API error: ${errMsg.slice(0, 160)}`\n    );\n  }\n  const content = payload?.choices?.[0]?.message?.content;\n  const textContent = Array.isArray(content)\n    ? content\n        .map(part => (typeof part?.text === 'string' ? part.text : ''))\n        .join('\\n')\n    : typeof content === 'string'\n      ? content\n      : '';\n\n  if (!textContent) {\n    return fallbackExtraction(doc, 'LLM returned empty content');\n  }\n\n  const parsed = safeJsonParse(textContent);\n  return normalizeExtraction(parsed, doc);\n};\n\nconst extractedList = [];\nfor (const doc of documents) {\n  try {\n    const extracted = await callLlmForDocument(doc);\n    extractedList.push({ doc, extracted });\n  } catch (error) {\n    extractedList.push({\n      doc,\n      extracted: fallbackExtraction(\n        doc,\n        error instanceof Error ? error.message : 'Unknown extraction failure'\n      ),\n    });\n  }\n}\n\nconst successfulExtractions = extractedList.filter(\n  item => !item.extracted.needs_human_review\n).length;\nconst failedExtractions = extractedList.length - successfulExtractions;\nconst totalAmount = extractedList.reduce(\n  (sum, item) => sum + (Number(item.extracted.total) || 0),\n  0\n);\n\nconst resultRows = extractedList.map((item, index) => {\n  const extraction = item.extracted;\n  const lineTotal = Array.isArray(extraction.line_items)\n    ? extraction.line_items.reduce((s, row) => s + (Number(row.total) || 0), 0)\n    : 0;\n  return {\n    index,\n    summary: {\n      totalItems: 1,\n      ocrDocuments: 1,\n      extractedRecords: 1,\n      googleSheetsRecords: 0,\n      successfulExtractions: extraction.needs_human_review ? 0 : 1,\n      failedExtractions: extraction.needs_human_review ? 1 : 0,\n      duplicateRecords: 0,\n      qualityIssues: extraction.reasons.length,\n      successRate: extraction.needs_human_review ? '0%' : '100%',\n      uniqueInvoices: extraction.invoice_number ? 1 : 0,\n    },\n    financialSummary: {\n      totalAmount: String(Number(extraction.total) || lineTotal || 0),\n      averageAmount: String(Number(extraction.total) || lineTotal || 0),\n      minAmount: String(Number(extraction.total) || lineTotal || 0),\n      maxAmount: String(Number(extraction.total) || lineTotal || 0),\n      medianAmount: String(Number(extraction.total) || lineTotal || 0),\n      count: 1,\n    },\n    processingDetails: {\n      successfulInvoices: extraction.invoice_number\n        ? [\n            {\n              invoiceNumber: extraction.invoice_number,\n              vendorName:\n                extraction.supplier_name ||\n                extraction.raw_merchant ||\n                item.doc.fileName,\n              totalAmount: Number(extraction.total) || lineTotal || 0,\n              index,\n            },\n          ]\n        : [],\n      failedExtractions: extraction.needs_human_review\n        ? [\n            {\n              index,\n              error: extraction.reasons.join('; ') || 'Manual review needed',\n            },\n          ]\n        : [],\n      qualityIssues: extraction.reasons.map(reason => ({\n        index,\n        invoiceNumber: extraction.invoice_number || '',\n        issueType: 'ocr',\n        issue: reason,\n      })),\n      duplicates: [],\n    },\n    qualityMetrics: {\n      averageConfidence:\n        ((Number(extraction.confidence.supplier_name) || 0) +\n          (Number(extraction.confidence.invoice_date) || 0) +\n          (Number(extraction.confidence.total) || 0) +\n          (Number(extraction.confidence.gst) || 0) +\n          (Number(extraction.confidence.abn) || 0)) /\n        5,\n      highConfidenceRecords: extraction.needs_human_review ? 0 : 1,\n      mediumConfidenceRecords: extraction.needs_human_review ? 1 : 0,\n      lowConfidenceRecords: 0,\n      confidenceDistribution: [],\n    },\n    recommendations:\n      extraction.reasons.length > 0\n        ? extraction.reasons\n        : ['Extraction looks good.'],\n    extractedData: extraction,\n  };\n});\n\nconst firstExtraction = resultRows[0]?.extractedData || null;\n\nreturn [\n  {\n    json: {\n      executionId,\n      workflowId,\n      traceId,\n      hasBusinessData: true,\n      summary: {\n        totalItems: extractedList.length,\n        ocrDocuments: extractedList.length,\n        extractedRecords: extractedList.length,\n        googleSheetsRecords: 0,\n        successfulExtractions,\n        failedExtractions,\n        duplicateRecords: 0,\n        qualityIssues: resultRows.reduce(\n          (sum, row) => sum + (row.processingDetails.qualityIssues?.length || 0),\n          0\n        ),\n        successRate:\n          extractedList.length > 0\n            ? `${Math.round((successfulExtractions / extractedList.length) * 100)}%`\n            : '0%',\n        uniqueInvoices: new Set(\n          resultRows\n            .map(row => row.extractedData.invoice_number)\n            .filter(Boolean)\n        ).size,\n      },\n      financialSummary: {\n        totalAmount: String(totalAmount),\n        averageAmount:\n          extractedList.length > 0\n            ? String(totalAmount / extractedList.length)\n            : '0',\n        minAmount:\n          extractedList.length > 0\n            ? String(\n                Math.min(\n                  ...resultRows.map(\n                    row => Number(row.financialSummary.totalAmount) || 0\n                  )\n                )\n              )\n            : '0',\n        maxAmount:\n          extractedList.length > 0\n            ? String(\n                Math.max(\n                  ...resultRows.map(\n                    row => Number(row.financialSummary.totalAmount) || 0\n                  )\n                )\n              )\n            : '0',\n        medianAmount:\n          extractedList.length > 0\n            ? String(\n                resultRows\n                  .map(row => Number(row.financialSummary.totalAmount) || 0)\n                  .sort((a, b) => a - b)[Math.floor(extractedList.length / 2)] || 0\n              )\n            : '0',\n        count: extractedList.length,\n      },\n      processingDetails: {\n        successfulInvoices: resultRows.flatMap(\n          row => row.processingDetails.successfulInvoices || []\n        ),\n        failedExtractions: resultRows.flatMap(\n          row => row.processingDetails.failedExtractions || []\n        ),\n        qualityIssues: resultRows.flatMap(\n          row => row.processingDetails.qualityIssues || []\n        ),\n        duplicates: [],\n      },\n      qualityMetrics: {\n        averageConfidence:\n          resultRows.length > 0\n            ? resultRows.reduce(\n                (sum, row) => sum + (Number(row.qualityMetrics.averageConfidence) || 0),\n                0\n              ) / resultRows.length\n            : 0,\n        highConfidenceRecords: resultRows.filter(\n          row => Number(row.qualityMetrics.averageConfidence) >= 0.8\n        ).length,\n        mediumConfidenceRecords: resultRows.filter(\n          row =>\n            Number(row.qualityMetrics.averageConfidence) >= 0.5 &&\n            Number(row.qualityMetrics.averageConfidence) < 0.8\n        ).length,\n        lowConfidenceRecords: resultRows.filter(\n          row => Number(row.qualityMetrics.averageConfidence) < 0.5\n        ).length,\n        confidenceDistribution: [],\n      },\n      recommendations: [\n        'Pass llmApiKey/llmEndpoint/llmModel or llmConfig, or set env INVOICE_LLM_* in n8n.',\n        'For PDF files, add a PDF-to-image OCR preprocessor before this node.',\n        'Map extracted fields to your backend /invoice-ocr/{workflowId}/results storage if needed.',\n      ],\n      results: resultRows,\n      data: firstExtraction,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "id": "invoice-ocr-llm-code",
      "name": "LLM OCR Extractor"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [800, 300],
      "id": "invoice-ocr-respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook - Invoice OCR": {
      "main": [
        {
          "node": "LLM OCR Extractor",
          "type": "main",
          "index": 0
        }
      ]
    },
    "LLM OCR Extractor": {
      "main": [
        {
          "node": "Respond to Webhook",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "invoice-ocr"
    },
    {
      "name": "llm"
    }
  ]
}
